<!DOCTYPE html>
<html>
  <head>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    </style>
  </head>
  
  <body>
    <h1>All Student Application</h1>
    <table>
      <tr>
        <th>first_name</th>
        <th>last_name</th>
        <th>email</th>
        <th>gender</th>
        <th>country</th>
        <th>country_code</th>
        <th>created_at</th>
        <th>updated_at</th>
      </tr>
       <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td><%= student.email %></td>
        <td><%= student.gender %></td>
        <td><%= student.country %></td>
        <td><%= student.country_code %></td>
        <td><%= student.created_at %></td>
        <td><%= student.updated_at %></td>
       <%end%>
      </tr>
    </table>
  </body>
</html>
