<!DOCTYPE html>
<html>
  <head>
    <title><%= @student.first_name %>'s application</title>
  </head>
  <h1>Student's Information</h1>
  <body>
    <ul>
    <li>
        First_name:
        <%= @student.first_name %>
    </li>
    <li>
        Last_name:
        <%= @student.last_name %>
    </li>
    <li>
        Gender:
        <%= @student.gender %>
    </li>
    <li>
        Email:
        <%= @student.email %>
    </li>
    <li>
        Country:
        <%= @student.country %>
    </li>
    <li>
        Country Code:
        <%= @student.country_code %>
    </li>
    <li>
        Phone Number:
        <%= @student.phone_number %>
    </li>
    <li>
        Create At:
        <%= @student.created_at %>
    </li>
    <li>
        Update At:
        <%= @student.updated_at %>
    </li>
  </body>
  <%= button_to "edit this application", edit_manager_path(@student), :method => :get%>
  <%= button_to "delete this application", manager_path(@student), :confirm => "Are you sure?", :method => :delete%>
</html>