<!DOCTYPE html>
<html>
  <title>Student's Information</title>
  <head>
    <title><%= @student.first_name %>'s application</title>
  </head>
  <h1>Student's Information</h1>
  <body>
      <ol>
        <li>First_name: <%= @student.first_name %></li>
        <li>Last_name: <%= @student.last_name %></li>
        <li>Gender: <%= @student.gender %></li>
        <li>Email: <%= @student.email %></li>
        <li>Country: <%= @student.country %></li>
        <li>Country Code: <%= @student.country_code %></li>
        <li>Phone Number: <%= @student.phone_number %></li>
        <li>Program: <%= @student.program %></li>
        <li>School: <%= @student.school %></li>
        <li>AddressLineOne: <%= @student.addressLineOne %></li>
        <li>AddressLineTwo: <%= @student.addressLineTwo %></li>
        <li>City: <%= @student.city %></li>
        <li>Zipcode: <%= @student.zipCode %></li>
        <li>Date Of Birth: <%= @student.dateOfBirth %></li>
        <li>GuardianName: <%= @student.guardianName %></li>
        <li>Grade: <%= @student.grade %></li>
        <li>Create At: <%= @student.created_at %></li>
        <li>Update At: <%= @student.updated_at %></li>
      </ol>
  </body>
  <%= button_to "edit this application", edit_manager_path(@student), :method => :get%>
  <%= button_to "delete this application", manager_path(@student), :confirm => "Are you sure?", :method => :delete%>
  <br><br><br>
  
  <a class="btn btn-primary btn-lg" href="/about_us" role="button">More Stories</a>
</html>