%h1 B-bay apply

= link_to 'F.P.', future_planing
= link_to 'SUMMER ACADEMY', summer_academy
= link_to 'STORIED', stories
= link_to 'ABOUT US', about_us
= link_to 'CONTACT', contact
= button_to 'Apply', summer_academy


 %form{:action => "/guess", :method => "post"}
      %input{:autocomplete => "off", :name => "guess", :size => "1", :type => "text"}/
      %input{:type => "submit", :value => "Guess!"}/
      
= form_tag apply_bbay do
/care here when save data in database
  = label :apply_bbay, :q1, 'q1'
  = text_field :apply_bbay, 'q1'

  = labe2 :apply_bbay, :q2, 'q2'
  = text_field :apply_bbay, 'q2'
  
  = labe3 :apply_bbay, :q3, 'q3'
  = text_field :apply_bbay, 'q3'
    

  = submit_tag 'Submit'
  
= button_to 'Have Questions?', contact