%h1 About Us

= link_to 'F.P.', future_planing
= link_to 'SUMMER ACADEMY', summer_academy
= link_to 'STORIED', stories
= link_to 'ABOUT US', about_us
= link_to 'CONTACT', contact
= button_to 'Apply', summer_academy

%h4 Who are we?
%p text here


%h4 What's Our Goal?
%p text here


%h4 How We Work?
%p text here

