%h1 Homepage

= link_to 'F.P.', future_planing
= link_to 'SUMMER ACADEMY', summer_academy
= link_to 'STORIED', stories
= link_to 'ABOUT US', about_us
= link_to 'CONTACT', contact
= button_to 'Apply', summer_academy

= button_to 'Learn More', b_bay_learn_more
= button_to 'Learn More', ideal_learn_more
= button_to 'Apply', b_bay_apply
= button_to 'Apply', ideal_apply


