// .header
//   NavBar
//   = File.read "HTML/NavBar.html"

%title Harmony Plus About Us

%h1 About Us

= link_to 'HOMEPAGE', root_path
= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIES', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= link_to 'LOG IN', '/users/sign_in'
// = button_to 'Apply', mainframe_path

%h4 Who are we?
%p text here


%h4 What's Our Goal?
%p text here


%h4 How We Work?
%p text here

