%title Harmony Plus Contact Info
%h1 Contact

= link_to 'HOMEPAGE', root_path
= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIES', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= link_to 'LOG IN', '/users/sign_in'
// = button_to 'Apply', mainframe_path

%h3 China
%p phone and address
%p (666)666-6666

%h3 U.S
%p phone and address  
%p (666)666-6666

%h3 Email
%p Email address: harmony_plus@gmail.com



