%h1 Contact

= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', mainframe_path
= link_to 'STORIED', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= button_to 'Apply', mainframe_path

%h3 China
%p phone and address
%p 666666666

%h3 U.S
%p phone and address  
%p 666666666

%h3 Email
%p Email address: 555@gmail.com



