%h1 Future Planning

= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIED', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= button_to 'Apply', contact_path

%p Coming Soon...


