-#  This file is app/views/homepage/index.html.haml
%h1 HARMONY_PLUS
%body 
%tr
= link_to 'HOMEPAGE', root_path
= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIES', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= link_to 'LOG IN', '/users/sign_in'
// = button_to 'Apply', mainframe_path
// = button_to 'Learn More', mainframe_path
// = button_to 'Learn More', mainframe_path
// = button_to 'Apply', mainframe_path
// = button_to 'Apply', mainframe_path

// to be add apply b bay and apply ideal
= link_to 'Apply B-bay Program', b_bay_apply_path
