%h1 Summary Academy

= link_to 'HOMEPAGE', root_path
= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIES', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= link_to 'LOG IN', '/users/sign_in'
= button_to 'Apply', contact_path

%p Coming soon 
