<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/apply.css">
</head>
<div class = 'apply'>
  <div class = "logo">
    <a href="/">
      <img border="0" alt="harmony_logo" src="img/logo.png" width="134" height="46">
    </a>
  </div>
  <nav id="transparent-nav" class="transparent-nav">
    <div class="links">
      <a href="/">HOME</a>
      <a href="future_planning">FUTURE PLANNING</a>
      <a href="summer_academy">SUMMER ACADEMY</a>
      <a href="stories">STORIES</a>
      <a href="about_us">ABOUT US</a>
      <a href="contact">CONTACT</a>
      <a href="/">
        <img border="0" alt="s" src="img/apply/search.png" width="24" height="24">
      </a>
      <a href="/">简体中文</a>
    </div>
  </nav>
  
  <div class="background" style="background url('img/apply/background.png')">
    <div class="right-view">
    
  
      <h_bbayapply class= "apply-page-header"> Apply for B_bay </h_bbayapply>
    
      <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
      <% end %>
    
      <div class='bot'>
        <%= form_tag :action=> "create" do %>
          <% if @student != nil and @student.errors.any? %>
            <div id="error_explanation">
   
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
            </div>
          <% end %>
      <div class='applyform'>
        <%= text_field(:student, :first_name, {:class => 'applyf', :placeholder => "First Name"})%>
        <%= text_field(:student, :last_name, {:class => 'applyf', :placeholder => "Last Name"})%>
        <%= email_field(:student, :email, {:class => 'applyf', :placeholder => "Email"})%>
        <%= number_field(:student, :age, {:class => 'applyf', :placeholder => "Age"})%>
        <%= label :student, :gender, 'Gender'%>
        <%= select(:student, :gender, ['Male', 'Female'])%>
        <%= label :student, :country, 'Country'%>
        <%= select(:student, :country, ['U.S.', 'CHINA'])%>
        <%= label :student, :country_code, 'Country Code'%>
        <%= select(:student, :country_code, ['+86', '+1'])%>
        <%= telephone_field(:student, :phone_number, {:class => 'applyf', :placeholder => "Phone Number"})%>
        <%= label :student, :program, 'You are applying for B-Bay'%>
        
  
        <!--:student :program 'b-bay'-->
        <input type="submit" name="submit" class="submit_but" value= 'Submit' />
        </div>
        <% end %>
      </div>
    </div>
  </div>
    
  

</div>
