<!--#include file="app/views/layouts.html.erb"-->
<head>
<link rel="stylesheet" type="text/css" href="CSS/Navbar.css">
<link rel="stylesheet" type="text/css" href="CSS/apply.css">
<!--<link rel="stylesheet" type="text/css" href="CSS/index.css">-->
</head>

  <div class="left-view" style=background>
    <div class="left-text">
      <h4>B-BAY</h4>
      <p>Berkeley Business Academy for Youth</p>
      <p><a class="btn btn-primary btn-lg" href="/about_us" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="right-view">
    <h_bbayapply class= "apply-page-header"> Apply for B_bay </h_bbayapply>
    
      <% if flash[:error] %>
      <div class="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
      <% end %>
    
      <div class='bot'>
        <%= form_tag :action=> "create" do %>
          <% if @student != nil and @student.errors.any? %>
            <div id="error_explanation">
   
            <ul>
              <% @student.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
            </div>
          <% end %>
      <div class='applyform'>
        <%= text_field(:student, :first_name, {:class => 'applyf', :placeholder => "First Name"})%>
        <%= text_field(:student, :last_name, {:class => 'applyf', :placeholder => "Last Name"})%>
        <%= email_field(:student, :email, {:class => 'applyf', :placeholder => "Email"})%>
        <%= number_field(:student, :age, {:class => 'applyf', :placeholder => "Age"})%>
        <%= label :student, :gender, 'Gender'%>
        <%= select(:student, :gender, ['Male', 'Female'])%>
        <%= label :student, :country, 'Country'%>
        <%= select(:student, :country, ['U.S.', 'CHINA'])%>
        <%= label :student, :country_code, 'Country Code'%>
        <%= select(:student, :country_code, ['+86', '+1'])%>
        <%= telephone_field(:student, :phone_number, {:class => 'applyf', :placeholder => "Phone Number"})%>
        <%= label :student, :program, 'You are applying for B-Bay'%>
        <%= text_field(:student, :school, {:class => 'applyf', :placeholder => "School"})%>
        <%= text_field(:student, :addressLineOne, {:class => 'applyf', :placeholder => "Address Line One"})%>
        <%= text_field(:student, :addressLineTwo, {:class => 'applyf', :placeholder => "Address Line Two"})%>
        <%= text_field(:student, :zipCode, {:class => 'applyf', :placeholder => "zipCode"})%>
        <%= telephone_field(:student, :phone_number, {:class => 'applyf', :placeholder => "Phone Number"})%>
        <%= label :student, :dateOfBirth, 'Date of Birth'%>
        <%= date_select :student, :dateOfBirth, :start_year=>1900 %>
  
        <!--:student :program 'b-bay'-->
        <input type="submit" name="submit" class="submit_but" value= 'Submit' />
        </div>
        <% end %>
      </div>
  </div>
  <div class="empty">
    
  </div>

