%h1.title HARMONY_PLUS
%tr
= link_to 'F.P.', homepage_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIED', contact_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
%p
    Photos
= button "More", contact_path
%p
    My Story
%p
    add text here
%p
    老师寄语
%p
    add text here
%p
    video