%h1 Our Stories

= link_to 'HOMEPAGE', root_path
= link_to 'F.P.', future_planning_path
= link_to 'SUMMER ACADEMY', summer_academy_path
= link_to 'STORIES', stories_path
= link_to 'ABOUT US', about_us_path
= link_to 'CONTACT', contact_path
= link_to 'LOG IN', '/users/sign_in'
// = button_to 'Apply', summer_academy_path


%p 2015
%p Intro of 2015
// = button_to 'Detail', detail_path
%p 2016

%p Intro of 2016
// = button_to 'Detail', detail_path

%h2 To Be Continued...
